@{
    ViewData["Title"] = "Time Conversion";
}


<div class="container">
    <div class="alert alert-info" role="alert">
        <h4 style="font-size: 14px;">This page is used to convert created date, modified date and closed date to pst and it download the xls file after conversion, which contains mongo script, which can be directly run.</h4>
        <ol>
            <li>To begin, please click the "Generate Template" button. This will create an xls template with column headers mapped and named for you</li>
            <li>Fill out the template</li>
            <span>
                a. Do not change the name or the order of the columns in the xls<br />
                b. Fill out default Required* field<br />
                C. Supported DateTime Format MM/DD/YYYY HH:mm Example: 10/26/2018 11:06<br />
             </span>
            <li>Select File</li>
            <span>
                a. Browse and select the XLS file
            </span>
            <li>Click the "Upload" button</li>
            <span>
                a. Wait to complete the operation.</br>
                b. after completion an XLS file will be downloaded
            </span>
        
        </ol>
    </div>

    <div class="col-md-8 col-md-offset-2">
        <form id="processImport"
              form method="post" enctype="multipart/form-data">
            <div class="row" style="margin-top: 2%;">

                <a asp-controller="Home" asp-action="GenerateTemplate" role="button" class="btn btn-primary btn-sm">Generate Template</a>


            </div>
            <div class="row">
                <label class="col-md-3 control-label" style="margin-top: 10px">Upload XLS File:</label>
                <div class="col-md-6">
                    <input id="excelFileUpload" class="form-control" type="file" name="files" onchange="return fileUpload.excelImport.validateFileUpload(this);" />
                </div>
            </div>

            <div class="row" style="margin-top: 3%">
                <button type="button" class="btn btn-success  btn-sm" id="BtnUploadExcelFile" onclick="return fileUpload.excelImport.processImport();" disabled="disabled"><span class="glyphicon glyphicon-upload" aria-hidden="true"></span> Upload</button>
                <a asp-controller="Home" asp-action="DownloadFile" role="button" class="btn btn-primary btn-sm" id="downloadBtn" style="display: none;">Download Converted Tickets</a>
            </div>
        </form>


    </div>

</div>


